{{ define "main" }}
<div class="section">
    <div class="container">
        <div class="columns">
            <div class="column content">
                <h1 class="title is-3">{{ .Title }}</h1>
                {{ .Params.body | markdownify }}
                <hr style="width: 200px;background: #f5a8cd">
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="columns is-multiline">
            {{ range .Params.packages }}
                <div class="column is-6">
                    <div class="card content">
                        <div class="card-content">
                          <p class="title is-5">
                            {{ .heading }}
                          </p>
                          <hr>
                          <p>{{ .rates | markdownify }}</p>
                        </div>
                        <footer class="card-footer">
                          <p class="card-footer-item">
                            <span>
                              <a href="/contact">Schedule Lesson</a>
                            </span>
                          </p>
                        </footer>
                      </div>
                </div>
            {{ end }}
        </div>
    </div>
</div>
<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column content has-text-centered">
        {{ .Params.footer_text | markdownify }}
      </div>
    </div>
  </div>
</div>
{{ end }}