@font-face {
    font-family: moon;
    src: url("/fonts/MoonTime-Regular.otf");
}

.title.moon {
    font-family: moon;
    font-size: 8em;
    font-weight: 100;
}

.accent strong {
    color:#f5a8cd;
}

.strike {
    text-decoration: line-through;
}

.subtitle.moon {
    font-family: moon;
    font-size: 6em;
    font-weight: 100;
}

.has-text-weight-feather {
    font-weight: 200;
}

body {
    font-family: 'Montserrat', sans-serif;
}

body p {
    line-height: 1.8;
    color: #3a3a3a;
    font-size: 14px;
}

div.container-tight {
    max-width: 960px;
}

.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

a.primary-btn {
    background: #f5a8cd;
    padding: 15px 30px;
    color: white;
    border-radius: 50px;;
}

.accent {
    color: #000;
}
/* HERO */

div.hero-body h1.title.is-1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 5rem;
    
}

div.hero-body h1.title.is-6 {
    font-family: 'Playfair Display', serif;

}

div.hero-body p {
    line-height: 2;
}

a.hero-btn {
    background: #f5a8cd;
    color: #fff;
    padding: 20px 30px;
    border-radius: 50px;
    transition: .3s;
    border: 1px solid #f8cfe3;
}

a.hero-btn:hover {
    transition: .3s;
    background:transparent;
    border: 1px solid #000;
    color: #000000;
}

/* VIDEO GRID */

div.card-image img {
    width:100%;
    height:300px;
    object-fit:cover;
}

div.card {
    height: 100%;
}

/* SHOP HOME FEATURED */

div.bg-color {
    background:#fff5fa;
    width: 100%;
    height:800px;
    position: absolute;
    margin-top: -250px;
    z-index: -1;
}

div.home-shop img {
    box-shadow: 3px 7px 20px 0px #b795a5;
}

/* HOME BANNER */

div.banner h2.title {
    background: rgba(255, 255, 255, 0.603);
    transition: .3s;
    padding: 20px;
}

div.banner div.border {
    border: 1px solid #fff;
    padding:10px;
}

div.banner a:hover h2.title{
    background: white;
    transition: .3s;
}

div.line {
    width: 1px;
    height: 100px;
    background: #f5a8cd;
    margin: 0 auto;
    position: relative;
    top: 50px;
}

/* INTRODUCTION */

div.intro-bg {
    background: #f8cfe3;
    z-index: -1;
    width: 400px;
    height: 390px;
    position: absolute;
    top: 60px;
    right: 90px;
}


/* PRODUCTS */

p.marker {
    position: absolute;
    left: 15px;
    bottom: 20px;
    background: #fff;
    align-items: center;
    border-radius: 4px;
    color: #000;
    display: inline-flex;
    font-size: .75rem;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: .75em;
    padding-right: .75em;
    white-space: nowrap;
}

div.product__description.content strong,
div.product__description.content {
    color: #7e7e7e;
}

div.add__to__cart button {
    background: black;
    box-shadow: none;
    border: 1px solid #000;
    padding: 15px 100px;
    color: #fff;
    transition: .3s;
    cursor: pointer;
}

div.add__to__cart button:hover {
    border: 1px solid #000;
    background: white;
    color: #000;
    transition: .3s;
}

/* FOOTER */

footer.footer .subtitle {
    font-family: "Playfair Display", serif;
}

footer.footer {
    background: #FFF5FA;
}

