@font-face {
    font-family: moon;
    src: url("/fonts/MoonTime-Regular.otf");
}

body {
    overflow: hidden;
}

.title.moon {
    font-family: moon;
    font-size: 8em;
    font-weight: 100;
}

.accent strong {
    color:#f5a8cd;
}

.strike {
    text-decoration: line-through;
}

.subtitle.moon {
    font-family: moon;
    font-size: 6em;
    font-weight: 100;
}

.has-text-weight-feather {
    font-weight: 200;
}

body {
    font-family: 'Montserrat', sans-serif;
}

body p {
    line-height: 1.8;
    color: #3a3a3a;
    font-size: 16px;
}

h1.title,
h2.title,
h3.title,
h4.title,
h5.title,
h6.title,
.content h1.title,
.content h2.title,
.content h3.title,
.content h4.title
.content h5.title
.content h6.title {
    font-family: 'Josefin Sans', sans-serif;
}

div.container-tight {
    max-width: 960px;
}

.align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

a.primary-btn {
    background: #f5a8cd;
    padding: 15px 30px;
    color: white;
    border-radius: 50px;
    border: 1px solid #f5a8cd;
    transition: .3s;
}

a.primary-btn:hover {
    border: 1px solid #f5a8cd;
    background: transparent;
    transition: .3s;
    color: #f5a8cd;
}

button.primary-btn {
    background: #f5a8cd;
    padding: 15px 30px;
    color: white;
    border: 1px solid #f5a8cd;
    cursor: pointer;
    transition: .3s;
}

button.primary-btn:hover {
    background: transparent;
    transition: .3s;
    color: #000;
}

form[name="Contact Form"] {
    background: #ffe2f0;
    padding: 20px;
}

input.input,
textarea.textarea {
    border: 0;
}

input.input::placeholder,
textarea.textarea::placeholder {
    font-style: italic;
    font-size: 16px;
} 

div.content a {
    color: #f5a8cd;
}

.accent {
    color: #000;
}
/* HERO */

div.hero-body h1.title.is-1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 5rem;
    
}

div.hero-body h1.title.is-6 {
    font-family: 'Playfair Display', serif;

}

div.hero-body p {
    line-height: 2;
}

a.hero-btn {
    background: #f5a8cd;
    color: #fff;
    padding: 20px 30px;
    border-radius: 50px;
    transition: .3s;
    border: 1px solid #f8cfe3;
}

a.hero-btn:hover {
    transition: .3s;
    background:transparent;
    border: 1px solid #000;
    color: #000000;
}

/* CATEGORIES */

ul.categories li a {
    background: #f5a8cd;
    padding: 4px 5px;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
}

/* NAVBAR */


a.navbar-item {
    transition: .3s;
}

.navbar-item::after {
    transition: .3s;
    height: 2px;
    content: "";
    position: absolute;
    background-color: #f5a8cd;
  }

.navbar-item::after {
    width: 75%;
    bottom: 15px;
    opacity: 0;
}

@media screen and (max-width:768px) {
    .navbar-item::after{
        width: 50px;
        display: flex;
        align-items: center;
}
}
  
.navbar-item:hover::after {
    bottom: 10px;
    opacity: 1;
}

a.navbar-item:hover {
    transition: .3s;
    color: #f5a8cd;
}

.navbar-item-shop {
    align-items: center;
    display: flex;
    line-height: 1.5;
    padding: .5rem .75rem;
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
}

.navbar-item-shop span {
    font-family: 'Josefin Sans', sans-serif;
    color: #000;
}

/* VIDEO GRID */

div.card-image img {
    width:100%;
    height:300px;
    object-fit:cover;
}

div.video-grid {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

div.video-grid img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

div.card {
    height: 100%;
}

/* SHOP HOME FEATURED */

div.home-shop h1.title span {
    font-family: moon;
    font-size: 3em;
    font-weight: 100;
}

div.home-shop img:hover {
    opacity: .7;
    transition: .3s;
}

div.home-shop img {
    transition: .3s;
}

div.bg-color {
    background:#fff5fa;
    width: 100%;
    height:800px;
    position: absolute;
    margin-top: -250px;
    z-index: -1;
}

div.home-shop img {
    box-shadow: 3px 7px 20px 0px #b795a5;
}

/* HOME BANNER */

div.banner h2.title {
    background: rgba(255, 255, 255, 0.603);
    transition: .3s;
    padding: 20px;
}

div.banner div.border {
    border: 1px solid #fff;
    padding:10px;
}

div.banner a:hover h2.title{
    background: white;
    transition: .3s;
}

div.line {
    width: 1px;
    height: 100px;
    background: #f5a8cd;
    margin: 0 auto;
    position: relative;
    top: 50px;
}

/* INTRODUCTION */

@media screen and (min-width:1087px){
    div.intro-bg {
        background: #f8cfe3;
        z-index: -1;
        width: 400px;
        height: 390px;
        position: absolute;
        top: 60px;
        right: 90px;
    }
}

@media screen and (max-width: 1087px) {
    div.intro-bg {
        background: #f8cfe3;
        z-index: -1;
        width: 300px;
        height: 200px;
        position: absolute;
        top: 60px;
        right: 35px;
    }
}


/* PRODUCTS */

p.marker {
    position: absolute;
    left: 15px;
    bottom: 20px;
    background: #fff;
    align-items: center;
    border-radius: 4px;
    color: #000;
    display: inline-flex;
    font-size: .75rem;
    height: 2em;
    justify-content: center;
    line-height: 1.5;
    padding-left: .75em;
    padding-right: .75em;
    white-space: nowrap;
}

div.product__description.content strong,
div.product__description.content {
    color: #7e7e7e;
}

div.add__to__cart button {
    background: #f5a8cd;
    font-size: 18px;
    box-shadow: none;
    text-transform: uppercase;
    border: 1px solid #f5a8cd;
    width: 100%;
    padding: 20px;
    color: #fff;
    transition: .3s;
    cursor: pointer;
}

div.add__to__cart button:hover {
    border: 1px solid #000;
    background: white;
    color: #000;
    transition: .3s;
}

div.shop-grid {
    transition: .3s;
    border-radius: 10px;
}

div.shop-grid:hover {
    box-shadow: 0px 4px 20px rgb(235, 235, 235);
    transition: .3s;
}

div.shop-grid img {
    transition: .3s;
}

div.shop-grid:hover img {
    opacity: .9;
    transition: .3s;
}

div.product-slide img.product__image {
    cursor: grab;
}



/* FOOTER */

footer.footer .subtitle {
    font-family: "Playfair Display", serif;
}

footer.footer {
    background: #FFF5FA;
}

/* SNIPCART */

.snipcart-modal__container.snipcart-cart-summary--edit.snipcart-cart-summary-side,
.snipcart-modal__container.snipcart-layout--large,
.snipcart-modal__container {
    z-index: 100;
}

button.snipcart-cart-button--highlight,
.snipcart__box--badge-highlight {
    background: #f5a8cd;
}

.snipcart__icon--blue-light path,
.snipcart__icon--blue-dark path {
    fill: #f5a8cd;
}

.snipcart__actions--link,
.snipcart-signin__register-link,
.snipcart-signin__forgot-password {
    color: #f5a8cd;
}