<footer class="footer pb-6">
    <div class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="subtitle is-5 has-text-centered">Follow me on Instagram</h1>
                    <h5 class="title is-6 has-text-weight-normal has-text-centered mt-4">@laurennrenteria</h5>
                </div>
            </div>
            <div class="columns">
                <div class="column has-text-centered mt-5">
                   <ul>
                       <li class="is-inline mr-6"><a href="">Home</a></li>
                       <li class="is-inline mr-6"><a href="">Home</a></li>
                       <li class="is-inline mr-6"><a href="">Home</a></li>
                       <li class="is-inline mr-6"><a href="">Home</a></li>
                   </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-lightbox/0.2.12/slick-lightbox.min.js"></script>
<script src="{{.Site.BaseURL}}/js/main.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.0/fuse.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
<script src="{{ "js/search.js" | absURL }}"></script>
</body>
</html>