<footer class="footer pb-6">
    <div class="section">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <h1 class="subtitle is-5 has-text-centered">Follow me on Instagram</h1>
                    <h5 class="title is-6 has-text-weight-normal has-text-centered mt-4">@laurennrenteria</h5>
                </div>
            </div>
            <div class="columns">
                <div class="column has-text-centered mt-5">
                   <ul>
                       <li class="is-inline mr-6"><a href="">Home</a></li>
                       <li class="is-inline mr-6"><a href="">Home</a></li>
                       <li class="is-inline mr-6"><a href="">Home</a></li>
                       <li class="is-inline mr-6"><a href="">Home</a></li>
                   </ul>
                </div>
            </div>
        </div>
    </div>
</footer>