{{ $footer := .Site.Data.profile }}
{{ $footerSocial := .Site.Data.profile.social_media }}
<footer class="footer pb-0">
    <div class="section">
        <div class="container">
            <div class="columns">
                <div class="column has-text-centered">
                    <h1 class="subtitle is-3 has-text-centered">{{ $footer.company_name }}</h1>
                    <ul>
                        {{ if $footerSocial.facebook }}<li class="is-inline mr-4 is-size-7"><a href="{{ $footerSocial.facebook }}" target="_blank" class="has-text-black">Facebook</a></li>{{ end }}
                        {{ if $footerSocial.instagram }}<li class="is-inline mr-4 is-size-7"><a href="{{ $footerSocial.instagram }}" target="_blank" class="has-text-black">Instagram</a></li>{{ end }}
                        {{ if $footerSocial.twitter }}<li class="is-inline mr-4 is-size-7"><a href="{{ $footerSocial.twitter }}" target="_blank" class="has-text-black">Twitter</a></li>{{ end }}
                        {{ if $footerSocial.pinterest }}<li class="is-inline mr-4 is-size-7"><a href="{{ $footerSocial.pinterest }}" target="_blank" class="has-text-black">Pinterest</a></li>{{ end }}
                        {{ if $footerSocial.youtube }}<li class="is-inline mr-4 is-size-7"><a href="{{ $footerSocial.youtube }}" target="_blank" class="has-text-black">Youtube</a></li>{{ end }}
                        {{ if $footerSocial.linkedin }}<li class="is-inline mr-4 is-size-7"><a href="{{ $footerSocial.linkedin }}" target="_blank" class="has-text-black">Linkedin</a></li>{{ end }}
                        {{ if $footerSocial.yelp }}<li class="is-inline mr-4 is-size-7"><a href="{{ $footerSocial.yelp }}" target="_blank" class="has-text-black">Yelp</a></li>{{ end }}
                        {{ if $footerSocial.tiktok }}<li class="is-inline mr-4 is-size-7"><a href="{{ $footerSocial.tiktok }}" target="_blank" class="has-text-black">TikTok</a></li>{{ end }}

                      </ul>
                </div>
            </div>
            <div class="level pt-6">
                <div class="level-left">
                    <div class="level-item">
                        <div>
                            <p class="is-size-7 has-text-centered-mobile">&copy; Copyright {{ dateFormat "2006" now }}, {{ .Site.Data.profile.company_name }}  &middot; <a href="https://hungryram.com" target="_blank" class="is-size-7 has-text-black" rel="nofollow">Website Developed by Hungry Ram</a></p>

                        </div>
                    </div>
                </div>
                <div class="level-right">
                    <div class="level-item has-text-centered-mobile">
                        <div>
                            <ul>
                                {{ range where $.Site.Pages.ByWeight "Type" "legal" }}
                                <li class="is-inline"><a href="{{ .Permalink }}" class="is-size-7 mx-2 has-text-black">{{ .Title }}</a></li>
                                {{ end }}
                              </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="{{.Site.BaseURL}}/js/main.js"></script>
<script src="{{.Site.BaseURL}}/js/lax.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.0/fuse.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
<script src="{{ "js/search.js" | absURL }}"></script>
<script async src="https://cdn.snipcart.com/themes/v3.0.27/default/snipcart.js"></script>
<div id="snipcart" data-config-modal-style="side" data-api-key="YWI3OTk2NmMtNzU5ZS00ODRkLTg5YTgtYjE0ODFkODY0YTFlNjM3NDQxMDk3NDgzNDMxMTYx" hidden></div>
<script>
    window.onload = function() {
      lax.setup() // init
    
      const updateLax = () => {
        lax.update(window.scrollY)
        window.requestAnimationFrame(updateLax)
      }
    
      window.requestAnimationFrame(updateLax)

      lax.setup({
        breakpoints: { small: 0, large: 992 }
    })
    }
  </script>
</body>
</html>
