<script type="application/ld+json">
{
    "@context": "http://schema.org/",
    "@type": "Person",
    "additionalName": "Lauren Renteria",
    "email": "lrdanceproduction@gmail.com",
    "jobTitle": "Dancer",
    "image": "/assets/lauren_renteria.jpg",
    "url": "{{ .Site.BaseURL }}",
        "sameAs" : [ 
            "https://www.instagram.com/laurennrenteria/",
            "https://www.facebook.com/lauren.renteria.5/",
            "https://www.youtube.com/channel/UCdGuzeklzIOjPx8rUhEhwCA",
            "https://www.tiktok.com/@laurennrenteria?lang=en"
            ]
}
</script>