    <div class="container is-fluid">
        <div class="columns is-variable is-4 banner">
            <div class="column">
                <a href="">
                    <div style="background:url(uploads/feet.jpg) no-repeat center;background-size:cover;padding: 200px 70px">
                        <div class="border">
                            <h2 class="title is-5 has-text-centered has-text-black">Videos</h2>
                        </div>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="">
                    <div style="background:url(uploads/shoes.jpg) no-repeat center;background-size:cover;padding: 200px 70px">
                        <div class="border">
                            <h2 class="title is-5 has-text-centered has-text-black">Tutorials</h2>
                        </div>
                    </div>
                </a>
            </div>
            <div class="column">
                <a href="">
                    <div style="background:url(uploads/IMG-9557.JPG) no-repeat center;background-size:cover;padding: 200px 70px">
                        <div class="border">
                            <h2 class="title is-5 has-text-centered has-text-black">Shop</h2>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
