<div class="section mt-6 mb-6">
    <div class="container">
        <div class="columns is-vcentered is-variable is-8">
            <div class="column has-text-centered">
                <img src="/uploads/meetlauren.png" alt="" width="700">
            </div>
            <div class="column content">
                <h4 class="subtitle is-5 mb-2">Meet</h4>
                <h1 class="title moon ml-6">Lauren</h1>
                <hr style="width: 200px;background:#d991b9;height:3px;">
                <div class="content ml-5">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit autem labore vel laudantium debitis voluptas dolore, eius quis repellendus libero? Quo illum modi repellendus maiores harum corporis dicta asperiores odit?</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis quae officia delectus molestiae alias, cumque nobis error deleniti commodi voluptates explicabo accusamus animi quo eum magnam quaerat nam placeat dolorem!</p>
                </div>
               <div class="is-block pt-5">
                <a href="" class="primary-btn">Book now</a>
               </div>
            </div>
        </div>
    </div>
</div>