{{ $intro := .Site.Data.homelayout.introduction }}
<div class="section mt-6 mb-6">
    <div class="container">
        <div class="columns is-vcentered is-variable is-8">
            <div class="column" style="position: relative">
                <img src="{{ $intro.image }}" alt="Lauren Renteria" width="550">
                <div class="intro-bg lax" data-lax-preset_small="eager-50" data-lax-preset_large="eager-150"></div>
            </div>
            <div class="column">
                <h4 class="subtitle is-5 mb-2">{{ $intro.heading }}</h4>
                <h1 class="title moon ml-6">{{ $intro.main_heading }}</h1>
                <hr style="width: 200px;background:#d991b9;height:3px;">
                <div class="content ml-5">
                    {{ $intro.body | markdownify }}
                </div>
               <div class="is-block pt-5">
                <a href="{{ $intro.link }}" class="primary-btn">{{ $intro.link_text }}</a>
               </div>
            </div>
        </div>
    </div>
</div>