{{ $hero := $.Site.Data.homelayout.hero }}
<section class="hero is-fullheight" style="background:linear-gradient(rgba(255,255,255,0),rgba(255,255,255,0.3)),url(uploads/white.jpg) no-repeat 35%;background-size:cover">
  {{ partial "global/navbar" . }}
    <div class="hero-body">
      <div class="container has-text-left">
        <div class="columns">
          <div class="column is-three-fifths">
            <h1 class="title is-6">
              {{ $hero.subtitle }}
          </h1>
          <h1 class="title is-1 is-uppercase is-size-2-mobile"><span class="has-text-weight-light">Lauren</span> <span class="accent">Renteria</span></h1>
          <div class="ml-6">
            <p>{{ $hero.body | markdownify }}</p>
          </div>
          <div class="is-block mt-6">
            <a href="{{ $hero.link }}" class="hero-btn">{{ $hero.link_text }}</a>
          </div>
          </div>
        </div>
      </div>
    </div>
    {{/*  <div class="hero-foot">
      <div class="container is-fluid">
        <nav class="level">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Tweets</p>
              <p class="title">3,456</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Following</p>
              <p class="title">123</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Followers</p>
              <p class="title">456K</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Likes</p>
              <p class="title">789</p>
            </div>
          </div>
        </nav>
      </div>
    </div>  */}}
  </section>