<section class="hero is-fullheight" style="background:url(uploads/white.jpg) no-repeat center;background-size:cover">
  {{ partial "global/navbar" . }}
    <div class="hero-body">
      <div class="container has-text-left ml-6">
        <div class="columns">
          <div class="column is-three-fifths">
            <h1 class="title is-6">
              Dancer - Choreographer - Youtuber
          </h1>
          <h1 class="title is-1 is-uppercase"><span class="has-text-weight-light">Lauren</span> <span class="accent">Renteria</span></h1>
          <p class="ml-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est possimus corporis asperiores officiis accusantium consectetur a ab dignissimos facilis, non sapiente. Officia at officiis omnis iusto dolores molestias consequuntur itaque.</p>
          <div class="is-block mt-6">
            <a href="" class="hero-btn">Shop The Merch</a>
          </div>
          </div>
        </div>
      </div>
    </div>
    {{/*  <div class="hero-foot">
      <div class="container is-fluid">
        <nav class="level">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Tweets</p>
              <p class="title">3,456</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Following</p>
              <p class="title">123</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Followers</p>
              <p class="title">456K</p>
            </div>
          </div>
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">Likes</p>
              <p class="title">789</p>
            </div>
          </div>
        </nav>
      </div>
    </div>  */}}
  </section>