<div class="bg-color"></div>

<div class="section home-shop">
    <div class="container container-tight pt-6">
        <div class="columns is-variable is-0 pt-6">
            <div class="column">
                <h1 class="title is-4">Lipstick Kiss Cotton Face Mask</h1>
                <p>Walk around in style with this adorable face mask made by Lauren Renteria.</p>
                <div class="is-block mt-6 mb-6">
                    <a href="" class="primary-btn">Shop</a>
                </div>
                <img src="uploads/kiss2.jpg" alt="" style="width:100%;">

            </div>
            <div class="column has-text-centered">
                <img src="uploads/kiss.jpg" alt="" width="400">
            </div>
        </div>
    </div>
</div>
