<div class="bg-color"></div>

<div class="section home-shop">
    <div class="container container-tight pt-6">
        <div class="columns is-variable is-4 pt-6">
            <div class="column">
                <h1 class="title is-4">Shop my featured<br><span class="ml-6"> Merch</span></h1>
                <p>Try out the most favorited merch on the website. Shirts and masks made from only quality light-weight fabric that everybody loves</p>
                <div class="is-block mt-6 mb-6">
                    <a href="/shop/lipstick-kiss-cotton-face-mask/" class="primary-btn">Shop</a>
                </div>
                <a href="/shop/me-vs-everyone-else-cropped-t-shirt/">
                    <img src="uploads/shirt2.jpg" alt="" style="width:100%;">
                    <h4 class="title is-6 mt-3">Me vs Everyone Else Cropped T-Shirt</h4>
                </a>

            </div>
            <div class="column lax" data-lax-preset_small="eager-50" data-lax-preset_large="eager-150">
                <a href="/shop/lipstick-kiss-cotton-face-mask/">
                    <img src="uploads/kiss.jpg" alt="" width="400" class="has-text-centered">
                    <h4 class="title is-6 mt-3">Lipstick Kiss Cotton Face Mask</h4>
                </a>
            </div>
        </div>
    </div>
</div>
